<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Stock Exchange</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="node_modules/nvd3/build/nv.d3.min.css" />
</head>

<body ng-app="stock">
    <div ng-controller="ResourceController">
        <nvd3 options="options" data="data" class="with-3d-shadow with-transitions"></nvd3>
        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <th>CAC40</th>
                    <td ng-repeat="value in data[0].values">
                        <span ng-hide="value.editing" ng-dblclick="editItem(value)">{{value.y}}</span>
                        <input type="number" ng-show="value.editing" ng-model="value.y" ng-blur="doneEditing(value)" autofocus />
                    </td>
                </tr>
                <tr>
                    <th>NASDAQ</th>
                    <td ng-repeat="value in data[1].values">
                        <span ng-hide="value.editing" ng-dblclick="editItem(value)">{{value.y}}</span>
                        <input type="number" ng-show="value.editing" ng-model="value.y" ng-blur="doneEditing(value)" autofocus />
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <button class="btn btn-success" type="button" ng-click="start()">Start</button>
            <button class="btn btn-danger" type="button" ng-click="stop()">Stop</button>
        </div>
    </div>
    <script src="bundle.js"></script>
    <script src="node_modules/angular-resource/angular-resource.min.js"></script>
</body>

</html>
