<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Stock Exchange</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.css" />
</head>

<body ng-app="stock">
    <div ng-controller="ResourceController">
        <nvd3 options="options" data="data" class="with-3d-shadow with-transitions"></nvd3>
        <button class="btn btn-default" type="button" ng-click="start()">Start</button>
        <button class="btn btn-default" type="button" ng-click="stop()">Stop</button>
        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <th>CAC40</th>
                    <td ng-repeat="value in data[0].values">
                        <span ng-hide="value.editing" ng-dblclick="editItem(value)">{{value.y}}</span>
                        <input type="number" ng-show="value.editing" ng-model="value.y" ng-blur="doneEditing(value)" autofocus />
                    </td>
                </tr>
                <tr>
                    <th>NASDAQ</th>
                    <td ng-repeat="value in data[1].values">
                        <span ng-hide="value.editing" ng-dblclick="editItem(value)">{{value.y}}</span>
                        <input type="number" ng-show="value.editing" ng-model="value.y" ng-blur="doneEditing(value)" autofocus />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="bundle.js"></script>
    <script src="node_modules/angular-resource/angular-resource.min.js"></script>
</body>

</html>
